h4 {
	text-align: center;
	color: #fff;
}

/* Twitch Navigation Bar Styles */
#twitchNavBar {
	position: fixed;
	width: 240px;
	height: 100%;
	background: #19191f;
}

#logo {
	display: block;
	width: 240px;
	height: 82px;
	padding: 25px 0px;
	text-align: center;
}

#logo svg path {
	fill: #fff;
}

#dropDownNames {
	display: block;
	margin: 0 auto;
	height: 40px;
}

/* Main Column Styles */
#main-column {
	position: relative;
	height: 100%;
	overflow: hidden;
	margin-left: 240px;
	margin-right: 340px;
	z-index: 2;
	box-sizing: border-box;
}
/* Twitch Video Styles */

#video {
	display: block;
	width: 840px;
	margin: 0 auto;
	padding: 100px 20px;
	box-sizing: border-box;
}

/* Twitch Chatroom Styles */

#long-tails {
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 350px;
	min-width: 250px;
	height: 60%;
	border-left: 1px solid #ccc;
	list-style-type: none;
	overflow-y: scroll
}

#long-tails li {
	padding: 10px;
	border-top: 1px solid #ccc;
}