/* Twitch Navigation Bar Styles */

#twitchNavBar {
  width: 240px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #19191f;
}

#logo {
	display: block;
	width: 240px;
	height: 82px;
	padding: 25px 0px;
	text-align: center;
}

#logo svg path {
	fill: #fff;
}

h4 {
	color: #fff;
	text-align: center;
}

#dropDownNames {
	display: block;
	margin: 0 auto;
	height: 40px;
}


/* Main Column Styles */

#main-column {
	position: relative;
	height: 100%;
	overflow: hidden;
	margin-left: 240px;
	margin-right: 340px;
	z-index: 2;
	box-sizing: border-box;
}


/* Twitch Video Styles */

#video {
	display: block;
	width: 840px;
	margin: 0 auto;
	padding: 100px 20px;
	box-sizing: border-box;
}


/* Twitch Chatroom Styles */

#twitchtrends {
  width: 340px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

#topsection,
#botsection  {
  width: 340px;
  background-color: #f2f2f2;
}

#topsection {
  overflow: hidden;
}

#botsection {
  overflow-y: scroll;
}

#divider {
  background-color: #6441a5;
  cursor: ns-resize;
}

#divider:hover {
  background-color: #7550ba;
}

#trends,
#long-tails {
  margin: 0;
  padding: 0;
}

.trend {
  width: 50%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 5px 1em;
  list-style: none;
}

.trend:nth-child(2n + 0) {
  background-color: #47474b;
}

.trend:nth-child(2n + 1) {
  background-color: #19191f;
}

.message {
  color: #3c3a41;
  font-size: 12px;
  padding: 1em;
  list-style: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.spacer {
  width: calc(340px - 1em);
  height: 1px;
  background-color: #ddd;
  margin: 0 auto;
}
